[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask = "*"
pandas = "*"
python-dotenv = "*"
gunicorn = "*"
ipython = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
regex = "*"
tweepy = "*"
datetime = "*"
gensim = "*"
counter = "*"
vadersentiment = "*"
python-levenshtein = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
