<!doctype html>

<title>2019 Australia Bush Fires</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<center>
  <h1> Australia Bush Fires </h1>
  <h2> September 2019 through January 2020 </h2>
  <iframe style="margin-top:1cm;" width="1120" height="630" src="https://www.youtube.com/embed/i0zQEVda7i8" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

