<!doctype html>
<html prefix="og: https://ogp.me/ns#">
<head>
  <meta property="og:image" content=”https://github.com/CVanchieri/DSPortfolio_FlaskApp/blob/master/static/CovidBanner.png” />
  <title>USA Covid-19 Daily Numbers</title>
 </head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1>Covid-19 USA</h1>
<div>
  <div> 
    <font color="grey"><font size=3>
      <a href="/covid19usadata"><button type="button" style="height:30px;width:250px">Covid-19 USA Data</button></a>
  </div>
   <center>
    <font color="grey"><font size=3>
      Date: {{today[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hospitalized Today: {{today[1]}}  <i>Change: {{change[0]}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ICU Today: {{today[2]}}  <i>(Change: {{change[1]}})</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ventilators Today: {{today[3]}}  <i>(Change: {{change[2]}})</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      Deaths Today: {{today[4]}}  <i>(Change: {{change[3]}})</i>
   </center>
        
  <iframe height="1000" frameborder="0" scrolling="no" style="width:100%" src="//plotly.com/~CVanchieri/22.embed"></iframe
</div>
</html>
