<html>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>
      Charles Vanchieri Data Science Projects
    </title>
  </head>
      <h1>DS TwitterBot</h1>
      <a href="/twitterbot"><button type="button" style="height:30px;width:250px">Tweets Collected</button> </a>
      </br>
      </br>
      <h1>COVID-19 USA</h1>
      <a href="/covid19usagraph"><button type="button" style="height:30px;width:250px">Plotly Graph</button> </a>
      </br>
      </br>
      <h1>Crypto Coin Scraper</h1>
      <a href="/coinscraper"><button type="button" style="height:30px;width:250px">Crypto Token Scraper</button> </a>
      </br>
      </br>
      <h1>Text Image Creator</h1>
      <a href="/textimage"><button type="button" style="height:30px;width:250px">Text Image Creator</button> </a>
      </br>
      </br>
      <h1>Artist Analyzer</h1>
      <a href="/artistanalyzer"><button type="button" style="height:30px;width:250px">Artist Analyzer</button> </a>
      

</html>