<!DOCTYPE html>

<html>
        <head>
                <title>
                  Projects - {{title}}
                </title>

        </head>
        <body>
                <font color="grey"><h1>TwitterBot!
                <img src="https://images.shulcloud.com/111/uploads/Yael/Chagim/celebration-kiddush-220x220.jpg" alt="celebration logo" height="50" width="50">
                <br>
                <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter logo" height="20" width="20">
                <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter logo" height="20" width="20">
                <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter logo" height="20" width="20">
                <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter logo" height="20" width="20">
                <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter logo" height="20" width="20">
                <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter logo" height="20" width="20">
                </h1>

                {% block content %}
               
                

                <div>
                    <h2>Number of twets</h2>
                    <a href="/data/{{ len(df) }}"</a>
                    
                </div>



                {% endblock %}


        </body>
</html>